@media screen and (max-width: 810px) {
    nav {
        flex-direction: column;
    }

    header {
        height: 27vh;
    }
    .cricket{
        margin-left: 20px;
    }
    h2{
        margin-left: 12px;
        font-size: 1em;
    }
    p{
        margin-left: 8px;
        font-size: 0.6em;
    }
    .img{
        height: 35vh;
    }
    main{
        height: 35vh;
    }
    .card{
        height: 15vh
    }
    .Best{
        height: 15vh
    }
    .ball{
        height: 15vh
    }
}