* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #2874f0;
}

header {
    background-color: var(--main-bg-color);
    height: 65px;
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    padding: 0 25px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
    /* padding: 0px 23px; */
}

nav ul {
    display: flex;
    justify-content: flex-start;
    height: 65px;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0px 23px;
}

.Flex-all-center {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.container {
    min-height: calc(100vh - 65px - 12vh);
}

.img {
    background-image: url("img/Hero_section.jpg");
    background-size: cover;
    width: 80vw;
    height: 70vh;
    margin: 12px auto;
    overflow: hidden;
}

.search {
    background-color: white;
    border-radius: 2px;
    display: flex;
    margin-left: 20px;
}

.text {
    width: 30vw;
    height: 30px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.select {
    width: 40px;
    height: 30px;
    border-radius: 2px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.icon {
    background-image: url("img/image 123.png");
    background-size: cover;
    margin-top: 5px;
    margin-left: 2px;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

.card {
    background-image: url("img/img1.jpg");
    background-size: cover;
    width: 13vw;
    height: 23vh;
}

.ball{
    background-image: url("img/img2.jpeg");
    background-size: cover;
    width: 13vw;
    height: 23vh;
}

.Best{
    background-image: url("img/img3.jpeg");
    background-size: cover;
    width: 13vw;
    height: 23vh;
}

div.fun {
    margin-left: 20px;
}

h2 {
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 50px;
}

.cricket {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-top: 20px;
    margin-left: 70px;
}